.main {
    background-color: #2c3845;
}
.phone{
    cursor: pointer;
	transition: all .3s linear;
}
.phone:hover{
	opacity: .6;
}

.pagination {
	margin: 15px auto;
	display: flex;
	list-style: none;
	outline: none;
	padding: 0;
	justify-content: center;
  }
  
  .pagination__active > a{
	background-color: #69a0a8 ;
	border-color: #69a0a8 ;
	color: #fff;
  }
.pagination > li > a{
	border: 1px solid darkgrey ;
	border-radius: 6px;
	margin-right: 10px;
	padding: 10px;
	outline: none;
	cursor: pointer;
  }
