
.statistics__title{
  color: rgb(124, 121, 121);
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
}

.statistics__select{
  margin-right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  border: 1px solid darkgrey;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 100px;
  width: 150px;
}